html, body {
    height: 100%;
}

.bold {
    font-weight: bold;
}

#error {
    display:none; background-color: #ddeeff;
}

#header {
    background-color: lightpink;
    width: 100%;
    height: 30px;
}

.hidden {
    display:none;
}

.labelLogo {
    width: 200px;
    height: 30px;
    float:left;
}

#sheetStickers > div {
    background-color: lightgray;
    border-right: 1px solid lightpink;
    width: 200px;
    height: 30px;
    float:left;
    cursor: pointer;
}

#sheetStickers > div.active {
    background-color: #ffffff;
}

#sheets {
    width: 100%;
    height: 100%;
}
#sheets > div {
    border: 1px solid darkgreen;
    width: inherit;
    height: inherit;
}

.menu {
    width: 200px;
    height: 30px;
    float:left;
}

.likeA {
    color:blue;
    text-decoration: underline;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
TD, TH {
    padding: 3px;
    border: 1px solid black;
}

.sortHeader {
    background-color: lightgreen;
    cursor: pointer;
}

.close.mouseEnter {
    color:red;
}

.bulkClass {width:100%; height: 30px; background-color: bisque;}